@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* canvas  */
.cname_canvas {
  font-family: "Marcellus", sans-serif;
  color: #005ac6;
}

.signIn {
  font-family: "Marcellus", sans-serif;
  color: #005ac6;
  font-size: 18px;
  white-space: nowrap;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.login_logo img {
  padding: 30px 10px 75px;
}
.attendance_card {
  border: 1px solid #116ffcb9;
  border-radius: 20px;
  margin: 70px 0 0 0 !important;
}
.login_card {
  border: 1px solid #116ffcb9;
  border-radius: 20px;
  margin: 10px 0 0 0 !important;
}
.login_title {
  font-size: 20px;
  font-weight: bold;
  color: #116ffcdf;
  font-family: "Marcellus", sans-serif;
}
.working_title {
  font-size: 14px;
  font-weight: bold;
  color: #116ffcdf;
  font-family: "Marcellus", sans-serif;
  white-space: nowrap;
  text-align: center;
}
.check_inputs {
  padding: 10px;
  /* border: 1px solid #116ffcdf; */
  color: #116ffcdf;
  border-radius: 10px;
}
.form-check-input:checked {
  background: green;
  border-color: green;
}
.form-check-input:focus {
  box-shadow: none;
}
.form-check-input {
  display: none;
  cursor: pointer !important;
}
.input_layout {
  background: white;
  border: 1px solid #116ffcdf !important;
  color: black;
  /* padding: 10px 20px !important; */
  cursor: pointer !important;
}

.cspace {
  padding: 10px 20px !important;
}
.check_inputs span {
  border: none !important;
  background: gray !important;
  border-radius: 10px;
  cursor: pointer !important;
}
.check_inputs span i {
  color: #116ffcdf !important;
  cursor: pointer !important;
}
.login_inputs {
  padding: 1px;
  border: 1px solid #116ffcdf;
  color: #116ffcdf;
  border-radius: 10px;
}
.login_inputs input {
  padding: 10px 0 !important;
  margin: 0 3px !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.login_inputs span {
  border: none !important;
  background: none !important;
  border-radius: 10px;
}
.login_inputs button {
  border: none !important;
  background: none !important;
  border-radius: 10px;
  color: #116ffc;
}
.login_inputs button:hover {
  border: none !important;
  background: none !important;
  border-radius: 10px !important;
  color: #116ffc;
}
.login_inputs span i {
  color: #116ffcdf !important;
}
.font_text {
  font-size: 10px;
  color: gray;
}
.login_inputs input:focus {
  box-shadow: none !important;
}
.login_inputs button:focus {
  box-shadow: none !important;
}
.workingmode select:focus {
  box-shadow: none !important;
}
.worklog textarea:focus {
  box-shadow: none !important;
}
.worklog textarea{
  text-align: start !important;
}
.login_submit {
  background-color: #116ffcdf;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
  font-size: 18px;
}

.login_inputs input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
  background-color: white !important;
}

.login_inputs input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
  background-color: white !important;
}

/* Header End */


